@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}
/*--------Global Styles--------*/
html {
    scroll-behavior: smooth;
}
h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #000704;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

/*-------------INDEX PAGE--------------*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: #274D80;
    box-shadow: 0 5px 15px rgb(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color:#bde560;
}
#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}


/*-------------Contact Us PAGE--------------*/

#cntctus {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f4; */
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('Photos/train bg.jpg') ;
}
#head {
    color: white;
    padding: 1em 0;
    text-align: center;
}
.container {
    width: 80%;
    margin: 2em auto;
    padding: 2em;
}
#heading1 {
    color: #bde560;
}
#heading2 {
    color: #fffdd0;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 1em;
    font-weight: bold;
    color: #fffdd0;
}
input, textarea, button {
    padding: 0.5em;
    margin-top: 0.5em;
    border-radius: 5px;
    font-size: 1em;
    color: #000;
    font-weight: 700;
}
textarea, input {
    opacity: 0.5;
    resize: none;
}
textarea:focus, input:focus {
    opacity: 1;
}
button {
    background-color: #274d80;
    color: white;
    border: none;
    cursor: pointer;
    padding: 1em;
    margin-top: 1em;
}
button:hover {
    background-color: #514fd6;
}
.container h2,p,ul,a{
    color: #fffdd0;
}
footer {
    text-align: center;
    padding: 1em 0;
    background-color: #514fd6;
    color: #fff;
    width: 100%;
    bottom: 0;
}
footer p{
    color:white;
}
.container li{
    list-style-type:none;
    padding: 5px;
}


/*--------Start Media Query--------*/
@media (max-width:799px) {
    .section-p1{
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active{
        right: 0px
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
}


